*~
.*.swp
/.project
/.settings
/.history/
/.trunk
**/.vscode/
/.devcontainer
/bazel.iml
*.code-workspace
/bazel-*
compile_commands.json
/output/
/production
/.sass-cache
.bazelversion
user.bazelrc
.DS_STORE
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
**/.env*
**/.venv*
target
.python-version
MODULE.bazel
MODULE.bazel.lock
